body {
  margin: 25px;
}
div{
  
  background: seagreen;
  font-family: sans-serif;
}
p{
  color: white;
  background: black;
  text-align: right;
}
    
.titulo{
  margin: 20px;
  font-style: italic;
  text-align: center;
  text-decoration-color: aliceblue;
}

.contenido{
  margin: 25px;
}
.button{
  backgrounds: silver;
  margin: 50px;
}
